<!DOCTYPE html>
<html>
<head>
  <title>WeatherPlayground</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "http://cdn.oesmith.co.uk/morris-0.4.3.min.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

